<mat-accordion>
  <mat-expansion-panel
    *ngFor="let i of [1, 2, 3, 4]"
    hideToggle
    (opened)="openGroup(i)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> {{ i }} Select planet and space ship </mat-panel-title>
      <mat-panel-description>
        Planet : {{ selectedPlanets[i] }} planet distance :
        {{ planet_data[selectedPlanets[i]] }} space ship :
        {{ selectedVehicles[i] }} Time taken:{{
          selectedVehicles[i]
            ? 1 /
              (vehicle_speed[selectedVehicles[i]] /
                planet_data[selectedPlanets[i]])
            : ""
        }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <form class="example-form">
        <mat-form-field appearance="fill">
          <mat-label>Select Planet</mat-label>
          <mat-select
            [(ngModel)]="selectedPlanets[i]"
            name="planet"
            (ngModelChange)="showRadio($event, i)"
          >
            <mat-option
              *ngFor="let planet of planets"
              [value]="planet.name"
              [disabled]="!showplanets(planet.name)"
            >
              {{ planet.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <!-- {{selectedValue}} -->
    </div>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      [disabled]="!selectedPlanets[i]"
      [(ngModel)]="selectedVehicles[i]"
    >
      <mat-radio-button
        class="example-radio-button"
        *ngFor="let vehicle of vehicles"
        (change)="check($event, i)"
        [value]="vehicle.name"
        [disabled]="
          showpod(selectedPlanets[i], vehicle.name) || vehicle.total_no == 0
        "
      >
        {{ vehicle.name + " (" + vehicle.total_no + ") " }}
      </mat-radio-button>
    </mat-radio-group>
  </mat-expansion-panel>

  <button
    mat-button
    color="primary"
    (click)="myClickFunction()"
    [disabled]="!buttonGo"
  >
    Go
  </button>
  {{ status }}
</mat-accordion>
